*{
    margin: 0;
    box-sizing: border-box;
}

main{
    overflow-x: hidden;
}

/*Header*/
nav a{
    text-decoration: none;
    color: rgba(24, 64, 83, 1);
    margin-right: 1cm;
    font-family:'Montserrat', sans-serif;
}
nav a:hover {
    border-bottom: 2px solid rgba(188, 214, 239, 1);
  }
header{display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    }

/*Forside*/
#video_pladsholder{
    width: 100%;
    height: 800px;
    background-color: white;
}

#maps{padding: 2%;
    margin-left: 10%;
    margin-top: 3%;}

/*Kort sections*/
.tre_kort{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    background:rgba(24, 64, 83, 1);
    
}

.tre_kort > section{
    width: 350px;
    height: 650px;
    background-color:rgba(188, 214, 239, 1);
    text-align: center;
    line-height: 20px;
    margin-top: 6%;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 4%;
    
}

.tre_korthavn{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    background:rgba(188, 214, 239, 1);
    
}

.tre_korthavn > section{
    width: 350px;
    height: 650px;
    background-color:rgba(24, 64, 83, 1);
    text-align: center;
    line-height: 20px;
    margin-top: 3%;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 4%;
    
}

.to_kort > section{
    width: 350px;
    height: 650px;
    background-color:rgba(24, 64, 83, 1);
    text-align: center;
    line-height: 20px;
    margin-top: 3%;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 4%;
    
}

.to_kort{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    background:rgba(188, 214, 239, 1);
    
}

.naturkort > section{
    width: 350px;
    height: 650px;
    background-color:rgba(195, 210, 203, 1);
    text-align: center;
    line-height: 20px;
    margin-top: 1%;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 4%;
    
}

.naturkort{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    background:rgba(69, 98, 89, 1)}

 .pladsholder{
    width: 350px;
    height: 350px;
}

/*Overskrifter*/
h3{ 
    font-family:'Montserrat', sans-serif;
    color:rgba(24, 64, 83, 1);
}

h1{
    font-family:'Montserrat', sans-serif;
    color:rgba(195, 210, 203, 1);
    text-align: center;
    margin-top: 6%;
}

.overskrift_kortblae{ font-family:'Montserrat', sans-serif;
    color:rgba(188, 214, 239, 1);}

h4{font-family:'Montserrat', sans-serif;}

.to_kort > section{
    width: 350px;
    height: 650px;
    background-color:rgba(24, 64, 83, 1);
    text-align: center;
    line-height: 20px;
    margin-top: 3%;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 4%;
    
}

.blaeoverskrift{font-family: 'Montserrat', sans-serif;
    color: rgba(188, 214, 239, 1);
    margin-top: 4%;
    margin-left: 2%;}

#groenoverskrift{font-family:'Montserrat', sans-serif;
color: rgba(69, 98, 89, 1);
margin-top: 4%;
margin-left: 2%;
}

.naturoverskrift{
    font-family:'Montserrat', sans-serif;
    color: rgba(69, 98, 89, 1);
}

.overskrift_havn{
    margin-top: 8%;
    margin-left: 2%;
    font-family:'Montserrat', sans-serif;
    color: rgba(24, 64, 83, 1);;
}

.lysgroen_overskrift{font-family: 'Montserrat', sans-serif;
    color: rgba(195, 210, 203, 1);
    margin-top: 4%;
    margin-left: 2%;}


/*Knapper*/
.laes_mere{
    color: rgba(188, 214, 239, 1);
    font-family:'Montserrat', sans-serif;
    font-size: 10pt;
    width: 120px;
    height: 35px;
    border: none;
    background:rgba(24, 64, 83, 1);
    margin-top: 5%;}

.laes_merenatur{
    color: rgba(195, 210, 203, 1);
    font-family:'Montserrat', sans-serif;
    font-size: 10pt;
    width: 120px;
    height: 35px;
    border: none;
    background:rgba(69, 98, 89, 1);
    margin-top: 2%;}

.laes_mereblae{color: rgba(24, 64, 83, 1);
    font-family:'Montserrat', sans-serif;
    font-size: 10pt;
    width: 120px;
    height: 35px;
    border: none;
    background:rgba(188, 214, 239, 1);
    margin-top: 2%;}

/*Effekter*/
.laes_merenatur:hover{color: white;}
.laes_mereblae:hover{color: white;}
.laes_mere:hover{color: white;}

/*Baggrunde*/
#firkant{width: 100%;
    height: 700px;
    background-color:rgba(195, 210, 203, 1) ;
}

#firkant2{width: 100%;
    height: 1500px;
background-color: rgba(188, 214, 239, 1);
}

#firkant_havn{
    background-color:rgba(24, 64, 83, 1);
    width: 100%;
    height: 1500px;
}

#firkant_hejlsnor{
    background-color:rgba(69, 98, 89, 1);
    width: 100%;
    height: 1500px; 
}

#pladsholdergroen{
    width: 100%;
    height: 2500px;
    background: rgba(195, 210, 203, 1);
    }



/*Footer*/
footer{
    background-color: rgba(24, 64, 83, 1);;
    color: rgba(188, 214, 239, 1); 
}

footer p{
    font-family:'Montserrat', sans-serif;
    line-height: 22px;
}

footer div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer div section{
    height: 50%;
    width: 30%;
    padding: 2%;
}

.tekst_footer{
    margin-left: 0%;
}

#skrivmail {
    width: 60%;
    padding: 10px;
    background-color:white;
    border: none;
    color:rgba(24, 64, 83, 1) ;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
}

#tilmeld{
width: 30%;
padding: 10px;
background-color:rgba(188, 214, 239, 1) ;
border: none;
font-family:'Montserrat', sans-serif;
font-size: 15px;
text-align: left;
color:rgba(24, 64, 83, 1) ;
margin-top: 10px;}

/*Layout til siderne*/

.billede_højreside{
position: absolute;
width: 762px;
height: 571px;
left: 40%;
top: 15%;
}

.tekstfirkant_venstre{
position: absolute;
width: 660px;
height: 392px;
left: 5%;
top: 28%;
background:rgba(24, 64, 83, 1) ;
z-index: 1;
}

.tekstfirkant_højre{
    position: absolute;
    width: 662px;
    height: 392px;
    left: 48%;
    top: 112%;
    background:rgba(24, 64, 83, 1);
    z-index: 1;
    }

 .billede_venstreside{
 position: absolute;
width: 762px;
height: 575px;
left: 75px;
top: 100%;
}

.blaetekstfirkant_venstre{
position: absolute;
width: 660px;
height: 392px;
left: 5%;
top: 25%;
background:rgba(188, 214, 239, 1);
z-index: 1;
}

.groentekstfirkant_venstre{
position: absolute;
width: 660px;
height: 392px;
left: 5%;
top: 28%;
background:rgba(195, 210, 203, 1);
z-index: 1;
}

.groentekstfirkant_højre{
    position: absolute;
    width: 662px;
    height: 392px;
    left: 48%;
    top: 112%;
    background:rgba(195, 210, 203, 1);
    z-index: 1;
    }

    .blaetekstfirkant_højre{position: absolute;
        width: 662px;
        height: 392px;
        left: 48%;
        top: 112%;
        background:rgba(188, 214, 239, 1) ;
        z-index: 1;}

.rektangel{
    position: absolute;
    width: 1036px;
    height: 301px;
    left: 14%;
    top: 70%;
    background:rgba(69, 98, 89, 1) ;
    align-items: center;}

.moerktekstfirkant_venstre{
position: absolute;
width: 660px;
height: 392px;
left: 5%;
top: 133%;
background:rgba(69, 98, 89, 1) ;
z-index: 1;
}

.moerktekstfirkant_højre{
    position: absolute;
    width: 662px;
    height: 392px;
    left: 48%;
    top: 235%;
    background:rgba(69, 98, 89, 1);
    z-index: 1;
    }

.billede_højresidegroen{
    position: absolute;
    width: 55%;
    height: 571px;
    left: 40%;
    top: 120%;
    }

.billede_højresidegroen img{
    width: 100%;
}

.billede_venstresidegroen{
position: absolute;
width: 55%;
height: 575px;
left: 75px;
top: 220%;
}

.billede_venstresidegroen img{
    width: 100%;
}

/*Tekst*/
p{font-family:'Montserrat', sans-serif;
    color: rgba(188, 214, 239, 1);
    margin-left: 2%;
    font-size: 12pt;
    line-height: 23px;}

ol{font-family:'Montserrat', sans-serif;
    color: rgba(188, 214, 239, 1);
    font-size: 12pt;}

#groentekst{font-family:'Montserrat', sans-serif;
    color: rgba(69, 98, 89, 1);
    line-height: 23px;}

    .tekst_kort{font-family:'Montserrat', sans-serif;
    color: rgba(24, 64, 83, 1) ;
    font-size: 12pt;}

    .tekst_blae{font-family:'Montserrat', sans-serif;
        color: rgba(24, 64, 83, 1) ;
        font-size: 12pt;}

.naturtekst{
    font-family:'Montserrat', sans-serif;
    color: rgba(69, 98, 89, 1);
    font-size: 12pt;
}

.tekst_havn{font-family:'Montserrat', sans-serif;
    color: rgba(24, 64, 83, 1) ;
    font-size: 12pt;}

.tekstpaakort{
font-family:'Montserrat', sans-serif;
color: rgba(195, 210, 203, 1);
font-size: 18pt;
text-align: center;
margin-top: 2%;
}

.lysgroen_tekst{
    font-family:'Montserrat', sans-serif;
    color: rgba(195, 210, 203, 1);
    font-size: 12pt;
}



/*Billeder*/
.trebilleder{
    display: flex;
    align-items: center;
   justify-content: center;
    padding: 4%;
}

/*Laptop*/
@media only screen and (min-width:768px){
    #laptopmenu{
        display:block;
    }

    #mobilheader{
        display:none;
    }

 
    #laptoplogo{
        display: block;
    }

    #mobillogo{
        display: none;
    }

    #laptopvideo{
        display: block;
    }

    #mobilvideo{
        display: none;
    }

    .billede_højreside{
        display: block;
    }

    .mobilbillede_hoejre{
        display: none;
    }
}


/*Mobil*/
    @media screen and (max-width:768px)
    {
        #laptopmenu{
            display:none;
        }

        #mobilheader{
            display: flex;
            margin-right: 2%;
    }

   #laptoplogo{
        display: none;
    }

    #mobillogo{
        display: block
        
    }

    #laptopvideo{
        display: none;
    }

    #video_pladsholder{
        display: none;
    }

    #mobilvideo{
        width: 100%; 
        background-color:rgba(24, 64, 83, 1);
    }

    footer div{
        display: flex;
        flex-wrap: wrap;
    }

    footer div section{
        height: 50%;
        width: 100%;
        padding: 5%;
    }

    .billede_højreside{
        display: none;
    }

    .mobilbillede_hoejre{
        display: flex;
    }
}

